*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.score-board {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  width: 50vw;
  height: 10vh;
  justify-content: space-between;
}

.high-scores {
  padding: 3px;
  margin: 0;
  height: 40px;
}

.high-scores h1 {
  font-size: 20px;
  color: blue;
}

.timer {
  padding: 3px;
  text-align: right;
  height: 40px;
}

.timer h1 {
  font-size: 20px;
  color: blue;
}

.container {
  width: 800px;
  max-width: 80%;
  max-height: 50%;
}

#question {
  font-size: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 10px;
  padding-top: 20px;
}

.btn {
  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px, 10px;
  color: black;
  outline: none;
  justify-content: center;
  align-items: center;
}

.btn text {
  text-align: center;
  font-size: 20px;
}

.answer {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
}

.btn:hover {
  border-color: red;
}

#answer-buttons {
  height: 200px;
}

.start-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
}

p {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
}

.answer {
  font-size: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.check {
  font-style: italic;
  border-top: 2px solid grey;
  margin-top: 3px;
}

#correct {
  font-size: 25px;
  padding: 5px;
  color: green;
}

#wrong {
  font-size: 25px;
  padding: 5px;
  color: red;
}